<%= render 'books/list', user: @user, book: @book %>

<div class="col-md-8 offset-md-1">
<h2>Books</h2>

<div class="table table-hover rable-inverse">
<% @books.each do |book| %>

<%= link_to user_path(@user.id) do %>
<p><%= image_tag book.user.get_profile_image(100,100) %></p>
<% end %>

<p>Title</p>
<span><%= link_to book.title ,book_path(book.id) %></span>

<p>Opinion</p>
<span><%= book.body %></span>

</div>
</div>
<% end %>